@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap&family=Bai+Jamjuree:wght@500&family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --color-uno: #5A5C8C;
    --color-dos: #5357A6;
    --color-tres: #7553B2;
    --color-cuatro: #AFC3F6;
    --color-cinco: #dee4f1;
    --fuente-size: 16px;
    --fuente-size-botones: 20px;
    --fuente-size-titulo: 30px;
    --degradado-violeta: linear-gradient(5deg, rgba(170, 109, 232, 0.58) 0, #2A2C59 100%);
    --degradado-rojo: linear-gradient(5deg, rgba(255, 0, 0, 0.66) 0, #2A2C59 100%);
}


/* main */

body section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

section .div_titulo {
    width: 100%;
    text-align: center;
}

.div_section_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20%;
    gap: 20px;
}

.div_section_content_espacio {
    margin-top: 80px;
}

h2.titulo {
    font-size: var(--fuente-size-titulo);
    color: var(--color-uno);
    padding: 30px;

}

body h4 {
    font-size: 22px;
    margin: 0;
}

.img_cinta {
    width: 100%;
}

/*salones*/

.div_home_salones {
    width: 300px;
    height: 300px;
    background-color: var(--color-cinco);
    border-radius: 5px;
    color: var(--color-uno);
    text-align: center;
}

.div_home_salones div.imagen_salones {
    width: 100%;
    height: 60%;
    background: url("../portada1.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div_home_salones_info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.div_home_salones_info img {
    width: 50%;
}

/*home SERVICIOS*/
.icon_servicios {
    width: 250px;
}


/*home testimonios*/
.div_home_testimonios {
    width: 350px;
    background-color: var(--color-cinco);
    border-radius: 5px;
    color: var(--color-uno);
    text-align: center;
    padding: 30px;
}

.icon_perfil {
    height: 150px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

/* header */

header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--color-cinco);

}

#div_menu {
    display: flex;
    gap: 10px;
}

body>main {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.logo,
header>div {
    max-height: 100%;
}

a.boton_menu {
    color: var(--color-uno);
    width: 150px;
    font-size: 20px;
}

.icon_carrito {
    width: 35px;
    margin: 0 10px;
}

.icon_carrito:hover {
    scale: 1.1;
}

a.boton2 {
    border: 3px solid var(--color-dos);
    border-radius: 10px;
    padding: 5px 29px;
    font-size: var(--fuente-size-botones);
    color: var(--color-uno);

}

/* portada */

#div_portada {
    min-height: 90vh;
    background: url("../portada1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_portada_titulo {
    color: white;
    font-size: 40px;
    text-align: center;
}

#div_portada_form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: min-content;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.401);
    gap: 15px;
    align-items: center;
}

#div_portada_form_div {
    display: flex;
    width: 100%;
    height: min-content;
    gap: 15px;
    align-items: center;
}

#div_portada_form button {
    height: max-content;
    padding: 7px 10px;
    width: 200px;
    border-width: 3px;
    border-radius: 5px;
}

/*footer*/

body footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer #div_menu {
    justify-content: center;
}

footer p {
    text-align: center;
    background-color: var(--color-cinco);
    color: var(--color-uno);
    margin: 30px 0 0;
    padding: 20px;
}

/*SOY PROVEDOR*/
.promo_precio {
    font-size: 50px;
}

.promo_span {
    font-size: 20px;
    line-height: 1.2;
    display: block;
    padding: 10px 10px 30px;
}

/* portada */

.div_user {
    min-height: 80vh;
    background: url("../marco_flores.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--color-uno);
}

.div_user p {
    width: 50%;
    text-align: center;
    padding: 40px;
}

.div_user_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 15px;
    align-items: center;
}

.div_user_form div {
    width: 100%;
    margin-bottom: 0;
}

button.boton2 {
    border: 3px solid var(--color-dos);
    border-radius: 10px;
    padding: 5px 29px;
    margin: 20px 0 10px;
    width: 100%;
    font-size: var(--fuente-size-botones);
    color: var(--color-uno);

}

.ocultar_div {
    display: none;
}


/*servicios*/
#section_servicios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 10%;
    padding: 0 20px 0 50px;
}

#section_servicios>.div_section_content {
    width: 100%;
    height: auto;
    justify-content: left;
}

#section_servicios .div_section_content {
    margin: 50px;
    max-width: 70%;
}

.div_servicio {
    width: 300px;
    background-color: var(--color-cinco);
    border-radius: 5px;
    color: var(--color-uno);
    text-align: center;
    font-size: 14px;
}


.div_servicio:hover {
    text-decoration: none;
    color: var(--color-uno);
    scale: 1.03;
}

.div_servicio p {
    padding-top: 10px;
}

.div_servicio img.imagen_salones {
    width: 100%;
    height: 55%;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div_servicio_info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.div_servicio_info img {
    width: 50%;
}

.servicio_icon {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid var(--color-uno);
    background-color: white;
    border-radius: 5px;
    bottom: 320px;
    left: 230px;
}

.servicio_icon img {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

/*filtros*/ pararrr

form.div_filtos_1 {
    margin-left: 50px;
    flex-direction: column;
    width: 300px;
}

#div_filtros {
    width: 300px;
    min-width: 200px;
}

.div_filtros_div input[type=search]{
    width: 100%;
    border-radius: 10px;
    height: 40px;
    border: 1px solid var(--color-cuatro);
}

.div_filtros_div input[type=checkbox]{
    border: 1px solid var(--color-cuatro);
}

.titulo_filtro {
    color: var(--color-dos);
    padding: 15px 0;
    border-bottom: 5px solid var(--color-cuatro);
}

.div_filtros_div div {
    display: flex;
    justify-content: space-between;
}

p.filtros_cant {
    background-color: rgba(0, 0, 0, 0.299);
    padding: 0 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.div_filtros_div select {
    width: 100%;
    padding: 10px;
    border: 0px solid var(--color-cuatro);
    border-radius: 10px;
}



.f_enviar {
    height: max-content;
    border: 0px solid var(--color-cuatro);
    background-color: var(--color-cuatro);
    padding: 4px 10px;
    border-radius: 100%;
    color: white;
    font-weight: 600;

}

.div_filtros_div div {
    display: flex;
    align-items: center;
}

/*CARRITO*/

#carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5%;
    min-height: 60vh;
}

.div_carrito {
    margin: 10px;
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
    justify-content: space-between;
    display: flex;
    color: var(--color-uno);
    border: 3px solid var(--color-cinco);
    border-radius: 10px;
    align-items: center;
}

.div_carrito div {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 5px;
}

.div_carrito_1 {
    width: 70%;
}

.div_carrito div p {
    width: 100%;
    margin: 0 20px;
}

.boton_eliminar {
    width: 30px;
    height: 30px;
    margin: 0 40px;
}

.img_carrito {
    width: 100px;
    height: 80px;
    border-radius: 5px;
}

input.carrito_cant {
    width: 60px;
}

/*Servicio especifico*/

#img_servicioEsp {
    width: 100%;
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    z-index: 100;
    position: relative;

}

#div_portada_titulo {
    color: white;
    font-size: 40px;
    text-align: center;
}

.carrito_testimonios#testimonios {
    margin: 20px 20%;
    flex-direction: row;
    gap: 20px;
}

main#servicio {
    padding: 10px 10%;
}

div#detalles {
    width: 30%;

}

div#div_detalles {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #dee4f1;
    border: 3px double var(--color-cuatro);
    font-size: 18px;
    color: var(--color-uno);
    position: sticky;
}

div#div_detalles span {
    font-weight: 600;
}

div#detalles iframe {
    width: 100%;
    min-height: 250px;
}


div#s_info {
    width: 70%;
    height: 100%;
}

section#galeria {
    display: flex;
}

/*ssssssssss*/
.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: crimson;
    color: white;
}

.tag:hover::after {
    border-left-color: crimson;
}

@media (max-width: 2000px) {
    .div_section_content {
        margin: 0 15%;

    }

}

@media (max-width: 1400px) {
    .div_section_content {
        margin: 0 10%;

    }

    img.logo,
    .div_header_prov {
        display: none;
    }

}

.div_servicio_info p {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.boton3, button.boton3{
    color: #4860ce;
    background-color: #e8ecf5;
}

a.boton3:hover, button.boton3:hover{
    border-bottom:2px solid var(--color-dos);
}

div.carousel1{
    height: 70vh ;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
}

.carousel1 img {
    height: 70vh ;
    object-fit: cover;
}

a.boton4, button.boton4{
    color: var(--color-dos);
    background-color: #d2ddf6;
}

a.boton4:hover, button.boton4:hover{
    border-bottom:2px solid var(--color-dos);
}