<main>
    
    <form id="carrito">

        <h2 class="titulo">Servicios en el carrito</h2>

        <div class="div_carrito">
            <div>
                <img src="../public/portada1.jpg"  class="img_carrito">
                <p>Nombre del servicio - <a href="">Ver mas</a></p>
            </div>
            <div>
                <a href="" class="btn boton3" >+ Agregar mensaje</a>
                <a href="" ><img class="boton_eliminar" src="../public/borrar.png" alt="" /></a>
            </div>           
        </div>

        <div class="form-group w-50">
            <label for="exampleFormControlTextarea1">Comentar cualquier detalle extra que quieras consultar</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn boton2 w-50" >Consultar servicios</button>

    </form>
</main>




