
<footer>
    <img src="../public/cinta_flores.png" alt="" class="img_footer">
    <div id="div_menu">
        <a href="/home/show" class="btn boton_menu">Home</a>
        <a href="/home/servicios?filtro=salones" class="btn boton_menu">Salones</a>
        <a href="/home/servicios?filtro=salones" class="btn boton_menu">Servicios</a>
        <a href="#testimonios" class="btn boton_menu">Testimonios</a>
    </div>

    <p>Telefono: +54 1126355251  Instagram: @armatuevento </p>
</footer>


</body>

</html>