<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="../public/css/style.css" />
    <!--Bootstrap-->
    <link rel="icon" href="./imagenes/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Preguntados</title>
</head>

<body>
    <header class="d-flex">
        <img class="logo" src="../public/logo.png" alt="" />

        <div id="div_menu">
            <a href="/home/show" class="btn boton_menu">Home</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Salones</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Servicios</a>
            <a href="#testimonios" class="btn boton_menu">Testimonios</a>
        </div>
        <div>
            <img class="icon_carrito" src="../public/carrito.png" alt="" />
            <a href="/home/carrito" class="btn boton2"> Soy proovedor </a>
        </div>
    </header>

    <div id="div_portada">
        <form id="div_portada_form">
            <select class="custom-select" name="provincia" id="provincia">
                <option value="1">Buenos aires</option>
                <option value="1">Cordoba</option>
                <option value="1">San juan</option>
            </select>
            <select class="custom-select" name="servicios" id="servicios">
                <option value="1">Salones</option>
                <option value="1">Iluminacion</option>
                <option value="1">Shows</option>
            </select>
            <button type="submit" class="btn-outline-light">Buscar</button>
        </form>
    </div>

    <main>

        <section id="home_salones">

            <div class="div_titulo">
                <img class="img_cinta" src="../public/cinta1.png" alt="">
                <h2 class="titulo">Salones mas populares</h2>
                <img class="img_cinta" src="../public/cinta2.png" alt="">

            </div>

            <div class="div_section_content">
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                <div class="div_home_salones">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_home_salones_info">
                        <h4> Salon para fiestas</h4>
                        <img src="../public/estrellas.png" alt="">
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </div>
                

            </div>

        
            
        </section>

        <section id="home_salones">
            <div class="div_titulo">
                <img class="img_cinta" src="../public/cinta1.png" alt="">
                <h2 class="titulo">Categorias</h2>
                <img class="img_cinta" src="../public/cinta2.png" alt="">

            </div>

            <div class="div_section_content">
                <a><img class="icon_servicios" src="../public/icon1.png" alt=""></a>
                <a><img class="icon_servicios" src="../public/icon2.png" alt=""></a>
                <a><img class="icon_servicios" src="../public/icon3.png" alt=""></a>
                <a><img class="icon_servicios" src="../public/icon4.png" alt=""></a>
                <a><img class="icon_servicios" src="../public/icon5.png" alt=""></a>
                <a><img class="icon_servicios" src="../public/icon6.png" alt=""></a>
                <a><img class="icon_servicios" src="../public/icon7.png" alt=""></a>
                <a><img class="icon_servicios" src="../public/icon8.png" alt=""></a>
            </div>

        </section>

        <section id="home_salones">

            <div class="div_titulo">
                <img class="img_cinta" src="../public/cinta1.png" alt="">
                <h2 class="titulo">Testimonios</h2>
                <img class="img_cinta" src="../public/cinta2.png" alt="">

            </div>

            <div class="div_section_content div_section_content_espacio">
                <div class="div_home_testimonios">
                    <img class="icon_perfil" src="../public/profile.png" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus vel fugiat, vero, minus a aliquam dolore laboriosam sunt eveniet atque! Accusamus ad dignissimos asperiores minus placeat laboriosam, nobis eaque?</p>
                </div>
                <div class="div_home_testimonios">
                    <img class="icon_perfil" src="../public/profile.png" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus vel fugiat, vero, minus a aliquam dolore laboriosam sunt eveniet atque! Accusamus ad dignissimos asperiores minus placeat laboriosam, nobis eaque?</p>
                </div>
                <div class="div_home_testimonios">
                    <img class="icon_perfil" src="../public/profile.png" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus vel fugiat, vero, minus a aliquam dolore laboriosam sunt eveniet atque! Accusamus ad dignissimos asperiores minus placeat laboriosam, nobis eaque?</p>
                </div>
                

            </div>

                

        
            
        </section>
    </main>


</body>

</html>