<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <script src="../public/js/main.js"></script>
    <!--Bootstrap-->
    <link rel="icon" href="./imagenes/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Preguntados</title>
</head>

<body>
    <header class="d-flex">
        <img class="logo" src="../public/logo.png" alt />

        <div id="div_menu">
            <a href="/home/show" class="btn boton_menu">Home</a>
            <a href="/service/show" class="btn boton_menu">Salones</a>
            <a href="/service/show?filtro=4" class="btn boton_menu">Servicios</a>
            <a href="#testimonios" class="btn boton_menu">Testimonios</a>
        </div>
        <div class="div_header_prov">
            <img class="icon_carrito" src="../public/carrito.png" alt />
            <a href="/user/show" class="btn boton2"> Soy proovedor </a>
        </div>
    </header>

    <!-- Probar -->

    <main>

        <form id="carrito" method="post" action="/carrito/enviarConsulta" enctype="multipart/form-data">

            <h2 class="titulo">Servicios en el carrito</h2>


            {{#salones}}
            <div class="div_carrito" style="background-color: #f1f1ff">
                <div>
                    <img src="../public/servicios/{{imagenes.portada.imagen}}" class="img_carrito">
                    <p>{{titulo}} - <a href="">Ver mas</a></p>
                </div>
                <div>
                    <a href="" class="btn boton3" id="boton{{id}}">+ Agregar mensaje</a>
                    <a href="/carrito/eliminarDelCarrito?id_salon={{id}}"><img class="boton_eliminar"
                            src="../public/borrar.png" alt="" /></a>
                </div>
            </div>
            <textarea class="form-control div_carrito" id="text{{id}}" rows="2" placeholder="Escribe tu consulta ..."
                style="display: none;"></textarea>
            {{/salones}}

            {{#servicios}}
            <div class="div_carrito">
                <div>
                    <img src="../public/servicios/{{imagenes.portada.imagen}}" class="img_carrito">
                    <p>{{titulo}} - <a href="">Ver mas</a></p>
                </div>
                <div>
                    <a href="" class="btn boton3" id="boton{{id}}">+ Agregar mensaje</a>
                    <a href="/carrito/eliminarDelCarrito?id_servicio={{id}}"><img class="boton_eliminar"
                            src="../public/borrar.png" alt="" /></a>
                </div>
            </div>
            <textarea class="form-control div_carrito" id="text{{id}}" rows="2" placeholder="Escribe tu consulta ..."
                style="display: none;"></textarea>
            {{/servicios}}

            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="email" class="form-control" id="nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="password" class="form-control" id="email" placeholder="Email" required>
                </div>
            </div>
            <button type="submit" class="btn boton3 " style="width:440px">Enviar consulta</button>

        </form>
    </main>

    <div class="popup">
        <div class="div_popup">
            <a href="/carrito/show" id="cerrar_popup" >X</a>
            <p>
                You can write some nice messages inside of it
            </p>
        </div>
    </div>

    <script>
        // Mostrar textarea al tocar el botón de agregar mensaje
        document.addEventListener('DOMContentLoaded', function () {
            // Seleccionamos todos los botones con la clase 'boton3'
            var agregarMensajes = document.querySelectorAll('.boton3');

            // Iteramos sobre cada botón
            agregarMensajes.forEach(function (boton) {
                boton.addEventListener('click', function (event) {
                    event.preventDefault(); // Previene que el enlace recargue la página

                    // Obtenemos el ID del botón y construimos el ID del textarea correspondiente
                    var id = boton.getAttribute('id').replace('boton', 'text');
                    var textArea = document.getElementById(id);

                    // Alternamos la visibilidad del textarea
                    if (textArea.style.display === 'none') {
                        textArea.style.display = 'block';
                    } else {
                        textArea.style.display = 'none';
                    }
                });
            });
        });
    </script>




    <footer>
        <img src="../public/cinta_flores.png" alt class="img_footer">
        <div id="div_menu">
            <a href="/home/show" class="btn boton_menu">Home</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Salones</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Servicios</a>
            <a href="#testimonios" class="btn boton_menu">Testimonios</a>
        </div>

        <p>Telefono: +54 1126355251 Instagram: @armatuevento </p>
    </footer>

</body>

</html>