<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <script src="../public/js/main.js"></script>
    <!--Bootstrap-->
    <link rel="icon" href="./imagenes/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Preguntados</title>
</head>

<body>
    <header class="d-flex">
        <img class="logo" src="../public/logo.png" alt />

        <div id="div_menu">
            <a href="/home/show" class="btn boton_menu">Home</a>
            <a href="/service/show" class="btn boton_menu">Salones</a>
            <a href="/service/show?filtro=4" class="btn boton_menu">Servicios</a>
            <a href="#testimonios" class="btn boton_menu">Testimonios</a>
        </div>
        <div class="div_header_prov">
            <img class="icon_carrito" src="../public/carrito.png" alt />
            <a href="/user/show" class="btn boton2"> Soy proovedor </a>
        </div>
    </header>

    <!-- Probar -->

    <main>
        <section id="section_servicios">

            <form class="div_filtos_1" id="div_filtros" method="post" action="/service/filtrar"
                enctype="multipart/form-data">

                <div class="tag_filtros">
                    {{#filtros.tipos}}
                    <div class="etiqueta">
                        <p class="m-0">{{tipo}}</p><a href="">✖</a>
                    </div>
                    {{/filtros.tipos}}
                    {{#filtros.provincias}}
                    <div class="etiqueta">
                        <p class="m-0">{{provincia}}</p><a href="">✖</a>
                    </div>
                    {{/filtros.provincias}}
                    {{#filtros.localidades}}
                    <div class="etiqueta">
                        <p class="m-0">{{localidad}}</p><a href="">✖</a>
                    </div>
                    {{/filtros.localidades}}
                    {{#filtros.busqueda}}
                    <div class="etiqueta">
                        <p class="m-0">{{busqueda}}</p><a href="">✖</a>
                    </div>
                    {{/filtros.busqueda}}
                </div>

                <!-- Filtro de búsqueda -->
                <div class="div_filtros_div">
                    <h5 class="titulo_filtro">Buscar por:</h5>
                    <div>
                        <input type="search" name="busqueda">
                    </div>
                </div>

                <!-- Filtro de orden -->
                <div class="div_filtros_div">
                    <h5 class="titulo_filtro">Ordenar por:</h5>
                    <div>
                        <select name="" id="" class="gro">
                            <option value="">Recomendados</option>
                        </select>
                    </div>
                </div>

                <!-- Filtro de tipos -->
                {{#hayTipos}}
                <div>
                    <div class="div_filtros_div" id="filtros_tipos">
                        <h5 class="titulo_filtro">Tipo de servicio:</h5>
                        {{#tipos}}
                        <div class="div_filtro hidden">
                            <label for=""><input type="checkbox" value="{{id}}" name="tipos[]" id=""> {{tipo}}</label>
                            <p class="filtros_cant">10</p>
                        </div>
                        {{/tipos}}
                        <button class="btn verMas w-100" id="verMasBtn_tipos" type="button"
                            onclick="verMas('filtros_tipos')">Ver más</button>
                        <button type="button" id="verMenosBtn_tipos" onclick="verMenos('filtros_tipos')"
                            class="btn verMas w-100" style="display: none;">Ver menos</button>
                    </div>
                </div>
                {{/hayTipos}}

                <!-- Filtro de provincias -->
                <div>
                    <div class="div_filtros_div" id="filtros_provincias">
                        <h5 class="titulo_filtro">Provincias:</h5>
                        {{#provincias}}
                        <div class="div_filtro hidden">
                            <label for=""><input type="radio" value="{{id}}" name="provincias[]" id="">
                                {{provincia}}</label>
                            <p class="filtros_cant">10</p>
                        </div>
                        {{/provincias}}
                        <button class="btn verMas w-100" id="verMasBtn_provincias" type="button"
                            onclick="verMas('filtros_provincias')">Ver más</button>
                        <button type="button" id="verMenosBtn_provincias" onclick="verMenos('filtros_provincias')"
                            class="btn verMas w-100" style="display: none;">Ver menos</button>
                    </div>
                </div>

                <!-- Filtro de localidades -->
                <div>
                    <div class="div_filtros_div" id="filtros_localidades">
                        <h5 class="titulo_filtro">Localidades:</h5>
                        {{#localidades}}
                        <div class="div_filtro hidden">
                            <label for=""><input type="checkbox" value="{{id}}" name="localidades[]" id="">
                                {{localidad}}</label>
                            <p class="filtros_cant">10</p>
                        </div>
                        {{/localidades}}
                        <button class="btn verMas w-100" id="verMasBtn_localidades" type="button"
                            onclick="verMas('filtros_localidades')">Ver más</button>
                        <button type="button" id="verMenosBtn_localidades" onclick="verMenos('filtros_localidades')"
                            class="btn verMas w-100" style="display: none;">Ver menos</button>
                    </div>
                </div>

                <button type="submit" class="btn boton3 w-100 mt-2">Filtrar</button>
            </form>

            <div class="div_section_content">
                {{#servicios}}
                <a href="/service/show?id_servicio={{id}}" class="div_servicio">

                    <img class="imagen_salones" src="../public/servicios/{{imagenes.portada.imagen}}" alt="">

                    <div class="div_servicio_info">
                        <h4>{{titulo}}</h4>
                        <p>{{descripcion}}</p>
                        <span class="span_ubicaion">Buenos aires, zona este, {{localidad.localidad}}</span>
                    </div>
                    <div class="servicio_icon"> <img src="../public/{{tipoDeServicio.icono}}" alt=""></div>
                </a>
                {{/servicios}}

                {{#salones}}
                <a href="/service/show?id_salon={{id}}" class="div_servicio">

                    <img class="imagen_salones" src="../public/servicios/{{imagenes.portada.imagen}}" alt="">

                    <div class="div_servicio_info">
                        <h4>{{titulo}}</h4>
                        <p>{{descripcion}}</p>
                        <span class="span_ubicaion">Buenos aires, zona este, {{localidad.localidad}}</span>
                    </div>
                    <div class="servicio_icon"> <img src="../public/{{tipoDeServicio.icono}}" alt=""></div>
                </a>
                {{/salones}}
            </div>
        </section>
    </main>



    <!-- <div class="popup">
        <div class="div_popup">
            <a href="/carrito/show" id="cerrar_popup" >X</a>
            <p>
                You can write some nice messages inside of it
            </p>
        </div>
    </div> -->

    <script>
        // Mostrar textarea al tocar el botón de agregar mensaje
        document.addEventListener('DOMContentLoaded', function () {
            // Seleccionamos todos los botones con la clase 'boton3'
            var agregarMensajes = document.querySelectorAll('.boton3');

            // Iteramos sobre cada botón
            agregarMensajes.forEach(function (boton) {
                boton.addEventListener('click', function (event) {
                    event.preventDefault(); // Previene que el enlace recargue la página

                    // Obtenemos el ID del botón y construimos el ID del textarea correspondiente
                    var id = boton.getAttribute('id').replace('boton', 'text');
                    var textArea = document.getElementById(id);

                    // Alternamos la visibilidad del textarea
                    if (textArea.style.display === 'none') {
                        textArea.style.display = 'block';
                    } else {
                        textArea.style.display = 'none';
                    }
                });
            });
        });
    </script>




    <footer>
        <img src="../public/cinta_flores.png" alt class="img_footer">
        <div id="div_menu">
            <a href="/home/show" class="btn boton_menu">Home</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Salones</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Servicios</a>
            <a href="#testimonios" class="btn boton_menu">Testimonios</a>
        </div>

        <p>Telefono: +54 1126355251 Instagram: @armatuevento </p>
    </footer>

</body>

</html>