

    {{! <div class="div_user" id="div_ingreso">
        <h2>Iniciar sesion</h2>
        <form class="div_user_form">
                <div>
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div >
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            <button type="submit" class="btn boton2">Ingresar</button>
        </form>
        <span class="text-center"> ** Si todabia no tiene una cuenta <a href="">Registrate</a> <br> <a href="">No recuerdo mi contraseña</a></span>
    </div> }}

    <div class="div_user" id="div_registro">
        <form class="div_user_form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Apellido</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div>
                <label for="inputEmail4">Nombre de la empresa</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn boton2">Registrarse</button>
        </form>
        <span class="text-center"> ** Si ya tienes una cuenta <a href="">Ingresa</a> **</span>
    </div>
    <main>


        <section id="home_salones">

            <div class="div_titulo">
                <img class="img_cinta" src="../public/cinta1.png" alt="">
                <h2 class="titulo">Elegi uno de nuestros planes para impulsar tu negocio</h2>
                <img class="img_cinta" src="../public/cinta2.png" alt="">

            </div>

            <div class="div_section_content div_section_content_espacio">
                <div class="div_home_testimonios">
                    <span class="promo_span"><span class="promo_precio">1200$</span> / mensual <br> 10000$ anual</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem labore dicta laborum aliquam
                        mollitia iusto ea ipsum, minima enim, nobis pariatur eaque praesentium delectus debitis!
                        Explicabo id consequatur autem perspiciatis libero blanditiis adipisci dolor suscipit a ducimus!
                        Facilis, repudiandae distinctio sit eaque minus obcaecati voluptatum facere quae unde aspernatur
                        animi, necessitatibus quidem natus blanditiis, iste dicta repellat consequatur sunt ipsam?</p>
                    <a href="/home/carrito" class="btn boton2"> Contratar </a>
                </div>
                <div class="div_home_testimonios">
                    <span class="promo_span"><span class="promo_precio">1400$</span> / mensual <br> 10000$ anual</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem labore dicta laborum aliquam
                        mollitia iusto ea ipsum, minima enim, nobis pariatur eaque praesentium delectus debitis!
                        Explicabo id consequatur autem perspiciatis libero blanditiis adipisci dolor suscipit a ducimus!
                        Facilis, repudiandae distinctio sit eaque minus obcaecati voluptatum facere quae unde aspernatur
                        animi, necessitatibus quidem natus blanditiis, iste dicta repellat consequatur sunt ipsam?</p>
                    <a href="/home/carrito" class="btn boton2"> Contratar </a>
                </div>
                <div class="div_home_testimonios">
                    <span class="promo_span"><span class="promo_precio">1600$</span> / mensual <br> 10000$ anual</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem labore dicta laborum aliquam
                        mollitia iusto ea ipsum, minima enim, nobis pariatur eaque praesentium delectus debitis!
                        Explicabo id consequatur autem perspiciatis libero blanditiis adipisci dolor suscipit a ducimus!
                        Facilis, repudiandae distinctio sit eaque minus obcaecati voluptatum facere quae unde aspernatur
                        animi, necessitatibus quidem natus blanditiis, iste dicta repellat consequatur sunt ipsam?</p>
                    <a href="/home/carrito" class="btn boton2"> Contratar </a>
                </div>


            </div>





        </section>
    </main>
