<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="../public/css/style.css" />
    <!--Bootstrap-->
    <link rel="icon" href="./imagenes/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Preguntados</title>
</head>

<body>
    <header class="d-flex">
        <img class="logo" src="../public/logo.png" alt="" />

        <div id="div_menu">
            <a href="/home/show" class="btn boton_menu">Home</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Salones</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Servicios</a>
            <a href="#testimonios" class="btn boton_menu">Testimonios</a>
        </div>
        <div>
            <img class="icon_carrito" src="../public/carrito.png" alt="" />
            <a href="/home/carrito" class="btn boton2"> Soy proovedor </a>
        </div>
    </header>


    

    <main>
       
        <section id="section_servicios">


            <div class="div_filtos_1">
                <form class="div_filtros_div">
                    <h5 class="titulo_filtro">Buscar por:</h5>
                    <div>
                        <input type="search">
                        <button type="submit" class="f_enviar">></button>
                    </div>
                    
                </form>
                <form class="div_filtros_div">
                    <h5 class="titulo_filtro">Ordenar por:</h5>

                    <div>
                        <select name="" id="" class="gro">
                            <option value="">Recomendados</option>
                        </select>
                        <button type="submit" class="f_enviar">></button>
                    </div>
                
                </form>
                <form id="div_filtros">
                
                    
                    <div class="div_filtros_div">
                        <h5 class="titulo_filtro">Tipo de servicio:</h5>
                        <div>
                            <label for=""><input type="checkbox" name="servicios" value="salones" id=""> Salones</label>
                            <p class="filtros_cant">10</p>
                        </div>
                        <div>
                            <label for=""><input type="checkbox" name="servicios" value="salones" id=""> Salones</label>
                            <p class="filtros_cant">10</p>
                        </div>
                        <div>
                            <label for=""><input type="checkbox" name="servicios" value="salones" id=""> Salones</label>
                            <p class="filtros_cant">10</p>
                        </div>
                        <div>
                            <label for=""><input type="checkbox" name="servicios" value="salones" id=""> Salones</label>
                            <p class="filtros_cant">10</p>
                        </div>
                        <div>
                            <label for=""><input type="checkbox" name="servicios" value="salones" id=""> Salones</label>
                            <p class="filtros_cant">10</p>
                        </div>
                    </div>
                </form>
            </div>
            

            <div class="div_section_content">
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                    <div class="servicio_icon"> <img src="../public/icon1.png" alt=""></div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                    <div class="servicio_icon"> <img src="../public/icon1.png" alt=""></div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                

                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                    <div class="servicio_icon"> <img src="../public/icon1.png" alt=""></div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                <a href="indexView.html" class="div_servicio">
                    <div class="imagen_salones" src="../public/portada1.jpg" alt=""></div>
                    <div class="div_servicio_info">
                        <h4> Salon para fiestas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corporis.</p>
                        <span class="span_ubicaion">Buenos aires, zona este, San justo</span>
                    </div>
                </a>
                

                

            </div>

        
            
        </section>
    </main>

    <footer>
        <img src="../public/cinta_flores.png" alt="" class="img_footer">
        <div id="div_menu">
            <a href="/home/show" class="btn boton_menu">Home</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Salones</a>
            <a href="/home/servicios?filtro=salones" class="btn boton_menu">Servicios</a>
            <a href="#testimonios" class="btn boton_menu">Testimonios</a>
        </div>

        <p>Telefono: +54 1126355251  Instagram: @armatuevento </p>
    </footer>


</body>

</html>