<main id="servicio">
    {{#servicio}}
        <div id="img_servicioEsp">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {{#imagenes.imagenes}}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{@index+1}}"></li>
                {{/imagenes.imagenes}}
                </ol>
                <div class="carousel-inner">
                
                    <div class="carousel-item carousel1 active">
                        <img class="d-block w-100" src="../public/servicios/{{imagenes.portada.imagen}}" alt="First slide">
                    </div>
                    {{#imagenes.imagenes}}
                    <div class="carousel-item carousel1">
                        <img class="d-block w-100" src="../public/servicios/{{imagen}}" alt="Second slide">
                    </div>
                    {{/imagenes.imagenes}}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <section class="carrito_testimonios" id="testimonios">

            <div id="s_info">
                <h2 class="titulo">{{titulo}}</h2>
                <p>{{descripcion}}</p>

                <h2 class="titulo">Características del Salón:</h2>
                <ul>
                    <li><strong>Capacidad:</strong> Hasta 200 invitados</li>
                    <li><strong>Ambiente:</strong> Moderno y acogedor, con
                        decoración personalizable</li>
                    <li><strong>Instalaciones:</strong> Aire acondicionado,
                        iluminación LED ajustable, y sistema de
                        sonido profesional</li>
                    <li><strong>Áreas Disponibles:</strong> Salón principal,
                        jardín exterior para eventos al aire libre,
                        y área de juegos para niños</li>
                    <li><strong>Estacionamiento:</strong> Amplio
                        estacionamiento privado para la comodidad de tus
                        invitados</li>
                </ul>

                <h2 class="titulo">Servicios Ofrecidos:</h2>
                <ul>
                    <li><strong>Catering personalizado:</strong> Menús
                        adaptados a tus necesidades y preferencias</li>
                    <li><strong>Decoración temática:</strong> Personalizamos
                        cada detalle, desde bodas hasta eventos
                        corporativos</li>
                    <li><strong>Coordinador de eventos:</strong> Un
                        profesional dedicado a asegurar que todo transcurra
                        según lo planeado</li>
                    <li><strong>Entretenimiento:</strong> Música en vivo,
                        DJ, y animación para todas las edades</li>
                </ul>

            </div>

            <div id="detalles">
                <div id="div_detalles">
                    <p>
                        <span>{{titulo}}</span> <br>
                        <span>Empresa:</span> <a href> {{proveedor.nombre}} {{proveedor.apellido}}</a> <br>
                        <span>Ubicacion:</span> {{localidad.localidad}}, Buenos aires
                    </p>

                    <small>** Agregar al carrito para ponerse en contacto
                        con el proveedor y consultar sobre este
                        producto</small>
                    <a href="/service/agregarAlCarrito?id={{id}}" class="btn btn-light w-100 mt-3">Agregar al carrito</a>
                </div>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15609.318193120796!2d-58.55942819493033!3d-34.668466099984116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc62cc3ef7083%3A0x8867107f425fade5!2sUniversidad%20Nacional%20de%20La%20Matanza!5e0!3m2!1ses-419!2sar!4v1723076773812!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </section>

        <section id="galeria">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="First image">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Second image">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Third image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Fourth image">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Fifth image">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Sixth image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Seventh image">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Eighth image">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <img class="d-block w-100" src="https://via.placeholder.com/400x200"
                                        alt="Ninth image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </section>
            {{/servicio}}
    </main>
